################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HigzTrade/FileContentIndex/4943c28b-d7ff-4d5e-81b8-7bc9586b0a01.vsidx
/.vs/HigzTrade/FileContentIndex/4bafc9e9-b410-4a41-8f89-18577f884f03.vsidx
